// File: _components.scss
// anything reusable such as buttons, navbars, cards etc.

/* STYLES GO HERE */

/* Table Styles */
table {
  border-collapse: collapse;

  th, td {
    border: 3px solid black;
    text-align: center;
    padding: 10px 20px;

  }

  caption {
    font-size: 24px;
    padding: 12px;
  }

}

div.add-form {

  form {

    ul, li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    ul {

      li{
        padding: 10px;

        input {
          font-size: 14px;
        }

        button {
          padding: 5px;
          font-size: 12px;
          border: 2px solid black;
          border-radius: 25px;
        }
      }
    }
  }
}


div.delete-button {
  form {
    button {
      margin: 20px;
      padding: 10px;
      font-size: 12px;
      border: 2px solid black;
      border-radius: 25px;
    }
  }
}